*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------------NAVBAR----------------------------------------------*/
.shoppingCart{
    position: relative;
}
.cartTotal{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top:-40%;
    right:-40%;
    background-color: #AB7A5F;
}

/*logo nun küçülmesi*/
.logo{
    max-width: 175px;
}
.logo img{
    width: 100%;
}
.links a{
    border-bottom: 2px solid white;
}
.links a:hover{
    border-bottom: 2px solid #AB7A5F;
}

/**-------------------------HEADER---------------------------------------------------*/

.img-container{
    position: relative;
    max-width: 558px;
    min-height: 550px;
}
.img-container::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background: #DECBC0;
    bottom: 0%;
    left: 13%;
    border-radius: 10px;
}
.header-img1{
    width: 80%;
    max-width: 440px;
    height: 550px;
    position: absolute;
    top:0;
    right: 0;
}
.header-img2{
    width: 250px;
    height: 165.25px;
    position: absolute;
    bottom:0;
    left: 0;
}
.header-desc h1{
    color: #102a42;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
}
.header-desc p{
    color:#617d98;
    line-height: 40px;
    font-size: 20px;
}
.header-desc button{
    background-color: #AB7A5F;
}
.header-desc button:hover{
    background-color: #dab6a1;
    color:#72472f !important;
}

/*SİLİNECEK*/
.header-img3{
    width: 250px;
    height: 165.25px;
   
}

/*-----------------------------CUSTOM---------------------------*/

/* cardlara max-width ? */

.custom{
    background-color: #EADED7;
}
.card{
    background-color: #C5A491;
}
.icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.custom h4{
    font-size: 24px;
    font-weight: 700;
    color:#453227;
}
.custom p{
    color:#5f4435;
    line-height: 28px;
}
.custom h3{
    color: #453227;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 1.6px;
}
@media (min-width:992px) {
    .custom-inner{
        transform: translateY(15%);
    }
}


/*-----------------------SUBSCRIPTION-------------------------------------------------------*/

.subs-inner h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.6px;
    color:#102a42;
}
.subs-inner button{
    background-color: #AB7A5F;
    color: #222;
    border: 2px solid #222;
    border-radius: 0 4px 4px 0;
    padding: 8px 16px;
    transition: all 0.4s ease-in;
}
.subs-inner button:hover{
    color: #fff;
}
.subs-inner input{
    border: 2px solid #222;
    border-radius:  4px 0 0 4px ;
    padding: 8px 16px;
    border-right: none;
}
.subs-inner p{
    color:#617d98;
}


/*------------------------FOOTER----------------------------------*/
footer{
    background-color: #222;
}
footer span{
    color:#AB7A5F;
}


/*---------------------------MAIN-----------------------------------------*/
.featured{
    background-color: #f1f5f8;
}
.featured-imgDiv{
    height: 225px;
    position: relative;
    
}
 .featured-zoom{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
} 

.featured-imgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-card span:first-child{
    color: #102a42;
}
.featured-card span:last-child{
    color: #AB7A5F;
}
.main-title{
    color: #102a42;
}
.underline{
    border-bottom: 3px solid #AB7A5F;
    width: 6rem;
}

.featured button{
    background-color: #AB7A5F;
    color: #fff;
}

.featured button:hover{
    background-color: #dab6a1 !important;
    color:#72472f !important;
}

/*----------------------------------ABOUT----------------------------*/

.about-header{
    background-color:#EADED7!important;
}

.about-h1 span:first-child{
    color:#795744 !important;
    cursor: pointer;
    font-weight: 700;
}
.about-h1 span:last-child{
    color:#453227 !important;
    font-weight: 700;
}
.about-img{
    max-width: 550px;
    /* height: 500px; */
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-content h1{
    font-size: 40px;
    line-height: 40px;
    color: #102a42;
    font-weight: 700;
}
.about-content p{
    line-height: 2rem;
    color: #617d98;
}
.about-underline{
    border-bottom: 3px solid #AB7A5F;
    width: 6rem;
}


/*------------------------PRODUCTS------------------------------*/

.products-header{
    background-color:#EADED7!important;
}

.products-h1 span:first-child{
    color:#795744 !important;
    cursor: pointer;
    font-weight: 700;
}
.products-h1 span:last-child{
    color:#453227 !important;
    font-weight: 700;
}

.upper-btnDiv{
    max-width: 230px;
}
.single-imgDiv{
    max-width: 299.34px;
    height: 175px;
    position: relative;
}
.single-imgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-zoom {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.single-zoom button{
    background-color: #AB7A5F;
    color: #fff;
}

.single-zoom button:hover{
    background-color: #dab6a1 !important;
    color:#72472f !important;
}
.single-card span:first-child{
    color: #102a42;
}
.single-card span:last-child{
    color: #AB7A5F;
}










