*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------------NAVBAR----------------------------------------------*/
.shoppingCart{
    position: relative;
}
.cartTotal{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top:-40%;
    right:-40%;
    background-color: #AB7A5F;
}
.logo{
    max-width: 175px;
}
.logo img{
    width: 100%;
}
.links a{
    border-bottom: 2px solid white;
}
.links a:hover{
    border-bottom: 2px solid #AB7A5F;
}